################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/bin/Debug/ModirOnline.Log.Api.dll
/bin/Debug/ModirOnline.Log.Api.exe
/bin/Debug/ModirOnline.Log.Api.pdb
/bin/Debug/ModirOnline.Log.Application.dll
/bin/Debug/ModirOnline.Log.Application.pdb
/bin/Debug/ModirOnline.Log.Persistence.dll
/bin/Debug/ModirOnline.Log.Persistence.pdb
/.vs/ModirOnline/DesignTimeBuild/.dtbcache.v2
*.vsidx
/.vs/ModirOnline/v17/.suo
/.vs/ModirOnline/v17/.futdcache.v2
/.vs/ProjectEvaluation/modironline.metadata.v7.bin
/.vs/ProjectEvaluation/modironline.projects.v7.bin
/mongo_data/diagnostic.data/metrics.2024-02-10T09-47-13Z-00000
/mongo_data/diagnostic.data/metrics.2024-02-10T09-48-18Z-00000
/mongo_data/diagnostic.data/metrics.2024-02-10T09-58-09Z-00000
/Src/ModirOnline.Log/ModirOnline.Log.Api/bin/Debug/net7.0/ModirOnline.Log.Api.dll
/Src/ModirOnline.Log/ModirOnline.Log.Api/bin/Debug/net7.0/ModirOnline.Log.Api.exe
/Src/ModirOnline.Log/ModirOnline.Log.Api/bin/Debug/net7.0/ModirOnline.Log.Api.pdb
