################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/docker-compose.yml
/docker-compose.override.yml
/.vs/ModirOnline/FileContentIndex/bf101446-f5f3-4e87-b514-8b8d3a9d0728.vsidx
/.vs/ModirOnline/FileContentIndex/d31e8ae1-6c09-4968-9399-a838dbd0bab8.vsidx
/.vs/ModirOnline/FileContentIndex/7a0d85f6-1358-4a94-a146-72d7fd2f033a.vsidx
/.vs/ModirOnline/FileContentIndex/5164b55c-e578-4721-a753-f3afa47d341b.vsidx
/.vs/ModirOnline/FileContentIndex/0a3cfcca-266c-4aa5-b53b-913ef5b21554.vsidx
