################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/docker-compose.yml
/docker-compose.override.yml
